<h1 class="headers"> All The Foods You've Ever Consumeds </h1>
<% nutritions.forEach(function (nutrition, i) { %>
  <ul class = "List">
    <li>
      <a href="/day/<%= nutrition._id %>" class="threadName"><%= nutrition.time %> </a>
    </li>
  </ul>
<% }) %>
<h4>
  <a class="btn btn-success btn-lg" id="buttonmeup" href="/day/new" role="button">Here's to a New Day</a>
</h4>
<h6>
  <a class="btn btn-danger" href="/" role="button">Logout</a>
</h6>
